.container {
  width: 710px;
}

div {
	border:0px;
}

div#main_wrapper {
	background: #fff;
	width:800px;
	margin: auto;
	margin-top: 20px;
	height: 1800px
    border:2px solid #677;
    -moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
}

body {
  background: #6cf;
}

.even{
	background:#ffc;
}

header {
  height: 28px;
  background:#fff;
  padding-top:20px;
  
}

header img {
  float:left;
  padding: 0px;
  background: #fff;
  
}

section {
  margin-top: 2em;
  font-size: 120%;
  padding: 20px;
  background: #fff;

 
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #990033;
  text-decoration: none;
}

a:hover {
  color: #069;

}

a:visited {
  color: #069;
   text-decoration: none;
}

/* Navigation */

nav {
  float: right;
  margin: auto;
  
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
 
}

nav ul {
  margin: 0;
  padding: 0;
  
}


nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:visited {
  color: #990033;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #f33;
}

#nav {
	padding-top:5px;
	margin: auto;
}

#nav a {
	color: #990033;
   text-decoration: none;
}

.cards a { color:#990033; }

#nav a:hover {
	color: #f93;
   text-decoration: underline;
}
/* add card button */
.addcardhome {

margin-left: auto;
margin-right: auto;
width: 186px;
border-radius:14px;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border: 1px solid #5f5f5f;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #c14700),color-stop(1.00, #801A16));
background: -moz-linear-gradient(top, #c14700 0.00%, 1.00, #801A16);
box-shadow: -0px 1px 3px #3f3c3c;
-webkit-box-shadow: -0px 1px 3px #3f3c3c;
-moz-box-shadow: -0px 1px 3px #3f3c3c;
text-align: center;
text-indent: 0px;
color: #ffffff;
text-shadow: 525252 -0px -1px 1px;
font: 14px/58px "Helvetica";
}

.addcardhome:hover {

margin-left: auto;
margin-right: auto;
width: 186px;
border-radius:14px;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border: 1px solid #5f5f5f;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #DC3F00),color-stop(1.00, #AD2500));
background: -moz-linear-gradient(top, #DC3F00 0.00%, 1.00, #AD2500);
box-shadow: -0px 1px 3px #3f3c3c;
-webkit-box-shadow: -0px 1px 3px #3f3c3c;
-moz-box-shadow: -0px 1px 3px #3f3c3c;
text-align: center;
text-indent: 0px;
color: #ffffff;
text-shadow: 525252 -0px -1px 1px;
font: 14px/58px "Helvetica";
}

a.redbuttonlink {
  color: #fff;
  text-decoration:none;
  width: 186px;
  
}

/* round corners */

.round { 
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;

}

/*view cards formating */
div#cards {
	padding:20px;
	background-color: #eef;
	color:#000;
	
}

div#cards a { 
	color:#363;
	text-decoration:none;

}
/*error message formating*/

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

textarea.field {
	height:50px;
	width:650px;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*stuff for the card*/

.card {
	text-align:center;
	margin:auto;
	font-size:300%;
}

/*auido formatting*/
div#audiobox {
	width:900px;
	margin:auto;
	border: 1px solid #999;
	background-color:#fff;
}
audio#audioplayer {
	margin:auto;
	width:100%;
}

/* button formatting for review */
.reviewbutton {
	margin-left: auto;
	margin-right: auto;
	color:#fff;
	width:100px;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-mox-border-radius: 14px;
	border: 1px solid #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #43DF54),color-stop(1.00, #258300));
	background: -moz-linear-gradient(top, #43DF54 0.00%, 1.00, #258300);
	box-shadow: -0px 1px 3px #3f3c3c;
	-webkit-box-shadow: -0px 1px 3px #3f3c3c;
	-moz-box-shadow: -0px 1px 3px #3f3c3c;
	text-align: center;
	text-indent: 0px;
	color: #ffffff;
	text-shadow: 525252 -0px -1px 1px;
	font: 14px/58px "Helvetica";

}

.reviewbutton:hover{
	margin-left: auto;
	margin-right: auto;
	color:#fff;
	width:100px;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-mox-border-radius: 14px;
	border: 1px solid #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #4AF65D),color-stop(1.00, #31AA0E));
	background: -moz-linear-gradient(top, #4AF65D 0.00%, 1.00, #31AA0E);
	box-shadow: -0px 1px 3px #3f3c3c;
	-webkit-box-shadow: -0px 1px 3px #3f3c3c;
	-moz-box-shadow: -0px 1px 3px #3f3c3c;
	text-align: center;
	text-indent: 0px;
	color: #ffffff;
	text-shadow: 525252 -0px -1px 1px;
	font: 14px/58px "Helvetica";

}
div#review_buttons {
	margin:auto;
	width:620px;
}

/* user index */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}
div#user_info {
	border-left: 2px dotted #ccc;
	width:400px;
	float:right;
	margin:20px;
	padding-left:20px;
}
/* friend and unfriend button */



.copysubmit  {
	margin-top:5px;
	color:#000;
	background-color: #9f6;
	width:100px;
	height:25px;
		-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	


}
