#nav {
	padding-top:4px;
	margin: auto;
	font-size:10;
	float:center;
}

#nav a {
	color: #069;
	font-size:10;
   text-decoration: none;
}

#nav a:hover {
	font-size:10;
	color: #f93;
   text-decoration: underline;
}

header {
  font-size:10;
  height: 40px;
  background:#fff;
  border-bottom: 2px solid #ccc; 

}

section {
  font-size: 120%;
  padding: 20px;
  background: #fff;

 
}