<% unless @feed_items.empty? %>
    <center><%= will_paginate @feed_items %></center><br />
  <div class="cards">
  <table>

    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>

  <table>
  </div>
  <center><%= will_paginate @feed_items %></center>

<% end %>