<center><% logo = image_tag("eyelogobig.png" , :alt => "Eye Candy", :class => "") %>
<%= link_to logo, root_path %></center>
<br />
<center><h2>Input, Review, Remember</h2></center>
<br />
<center><h4>About Focus SRS</h4></center>
<br />
<p>Focus SRS is a Spaced repetition system designed to be as <strong>simple as possible</strong> while maintaining a fun user experience.</p>

<p> You may use Focus SRS any time you need to remember things just like any spaced repetition system. At it's simplest Focus SRS is a <strong>smart graded flashcard system</strong>. </p>

<h3> Great Uses: </h3>

<ul>
<li>Studying languages</li>
<li>Test preparation</li>
<li>Remembering formulas and equations</li>
<li>Anywhere where you would use flash cards</li>
</ul>

<h3> Why use Spaced repetition? </h3>
<p>Because it's cool!</p>
<p>At least, it will be cool when you've input and reviewed many cards and you start to improve your recall. You must understand this takes time and effort. </p>
<p> Focus SRS is only a tool to aide in study and memorization. Think of it as <strong>a save button</strong>. When you figure out something important, and you want to remember it, save it away in Focus SRS. You will be able to reivew these cards later on and it will help you <strong>retain the information.</strong></p>
<h3> Why use Focus SRS?</h3>
<p> There are a lot of great Spaced repetition Systems out there. A lot of them have a lot of special features and crazy settings.  All those settings can be a lot of fun! </p>

<p>But...</p>

<p>It's a bit distracting....</p>

<p>Focus SRS is designed so you can <strong>focus on the cards</strong> you put in your deck. It is simple with a freindly and fun interface.</p> 

<p> You don't worry about putting the wrong cards into the wrong deck; You only have one deck. Other spaced repetition sytems will allow you to have multiple decks. Focus SRS just has you focus on your cards. </p> 

<p>You can also search all of the cards made on Focus SRS.</strong> And you can add these cards to your own deck!</p>

<p><strong> These cards are Anonymous</strong> so don't be afraid to study anything you like. You can view all of the cards, or you can type in the search bar at the top of the page when you are signed into your account. </p>
 
 <p> Also, for you language learners, Focus SRS works great with different character sets such as Chinese since it uses UTF-8 encoding. Unless you are using an ancient browser, the characters will display nicely.</p>
 
<h3>How did Focus SRS get started?</h3>

<p>Focus SRS is in Beta right now. It was built by Zachary Sarette as a tool to help people learn languages. <p>
<div style="border:2px solid #000; background:#ffc; padding:20px;">
<p>Hello,</p>
<p> I'm Zach.</p>
<p> I've used a spaced repetition sytstem to study Japanese Kanji along with a few other mnemonic techniques. And now I'm teaching myself Korean.</p>

<p>If you are learning a language, don't rely soley on a Spaced repetition System to do all of your learning. Many people fall into this trap and get bored. When they get bored, they stop reviewing. Sometimes they stop for weeks. I know this from experience.</p>
That's why I built Focus SRS as a simple tool with no bells or whistles. It just gets out of your way and lets you add and review. Then you can go practice speaking with friends or read.</p>

<p>If you like this spaced repetition system please <strong>tell your friends about Focus SRS</strong>. Spread the word. Help someone learn something, NOW!! </p>
<div>

